@import url("./fonts/whitney/style.css");

body {
    text-rendering: optimizeLegibility;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.15;
}

a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #4f545c;
}

.layout-wrapper {
    padding: 15px;
    left: 5%;
    right: 5%;
    top: 10%;
}

.button {
    font-family: inherit;
    border-radius: 3px;
    width: 250px;
    outline: none;
    height: 45px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.button:hover {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.button:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.theme-header {
    color: white;
}

.page-wrapper {
    background: #26262b;
    min-height: 100vh;
    overflow: hidden;
}

.h1 {
    font-size: 2.3em;
    font-weight: bold;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.button-variant-blue {
    background-color: #7289da;
    color: white;
}