@import url("./fonts/whitney/style.css");

body {
    text-rendering: optimizeLegibility;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.15;
}

a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #4f545c;
}

.layout-wrapper {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

.title {
    margin-bottom: 15px;
}

.button {
    font-family: inherit;
    border-radius: 3px;
    width: 250px;
    outline: none;
    height: 45px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.button:hover {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.button:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.theme-header {
    color: white;
}

.page-wrapper {
    background: #26262b;
    min-height: 100vh;
    overflow: hidden;
}

.h1 {
    font-size: 2.3em;
    font-weight: bold;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.h4 {
    font-size: 1em;
}

.h4 {
    font-size: 0.85em;
}

.h5 {
    font-size: 0.7em;
}

.h5 {
    font-size: 0.5em;
}

.subtitle {
    font-weight: 400;
    color: hsla(0,0%,100%,.6);
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    max-width: 710px;
}

.button-variant-blue {
    background-color: #7289da;
    color: white;
}

.button-variant-light-blue {
    color: #7289da;
    background-color: white;
}

.button-variant-white {
    color: black;
    background-color: white;
}

.separator {
    height: 1px;
    width: 100%;
    background: url("./svg/separator.svg");
    opacity: .1;
    margin: 34px 0;
}

.footer {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.navigation-section {
    text-align: center;
    margin: 16px 0;
    width: 45%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.navigation-header {
    color: #fff;
    font-size: 14px;
    margin-bottom: 13px;
    display: block;
    width: 100%;
}

.navigation-link {
    color: hsla(0,0%,100%,.6);
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    display: block;
}

.navigation-link:hover {
    color: #fff;
}